<div class="container mt-4">
    <h2 class="mb-4 text-center">تایید شماره تلفن</h2>

    {% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
    {% endif %}

    <form method="POST">
        <div class="mb-4">
            <label for="phoneNumber" class="form-label">شماره تلفن:</label>
            <input type="text" class="form-control" id="phoneNumber" name="phone_number"
                   placeholder="شماره تلفن خود را وارد کنید" required>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">ارسال کد تایید</button>
    </form>
</div>
