<div class="container mt-4">
    <h2 class="mb-4 text-center">تایید کد ارسالی</h2>

    {% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
    {% endif %}

    <form method="POST">
        <input type="hidden" name="phone_number" value="{{ phone_number }}">
        <div class="mb-4">
            <label for="otp" class="form-label">کد تایید:</label>
            <input type="text" class="form-control" id="otp" name="otp" placeholder="کد ارسالی را وارد کنید" required>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">تایید</button>
    </form>
</div>
